/* FONTS */
@font-face {
    font-family: josefin;
    src: url(fonts/josefin.TTF);}
@font-face {
    font-family: chivo;
    src: url(fonts/chivo.TTF);
}
@font-face {
    font-family: krub;
    src: url(fonts/krub.TTF);
}
@font-face {
    font-family: gasoek;
    src: url(fonts/gasoek.TTF);
}
/* NAVAGATION BAR */

.nm {
    font-family: gasoek;
    text-align: right;
color: #011638c0;
    font-language-override: left;
    padding: 13px;
    
}

#navbar{
    overflow: hidden;
    background-color: #92a805ab
    ;
}


#navbar a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: krub;
} 

#navbar a.active {
    background-color: #011638;
    color: white;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

    /* HOVER EFFECT OVER THE NAV BAR */
    .home:hover{
        color: #D49BAE;
    }
    .abt:hover{
        color: #BBCB50;
    }
    .ski:hover{
        color:#506dcb
    }
    .proj:hover{
        color:#cb5060
    }
    .cont:hover{
        color:#78861a
    }

/* SCROLLBAR */

    /* width */
    ::-webkit-scrollbar {
        width: 20px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #d49bae68 ; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #D49BAE; 
    }
   

/* HEADER BANNER */
    .nameTitle{
        font-family: gasoek;
        font-weight: 7;
        display: block;
        font-size: 15vh;
        text-align: center;
        margin: 2px;
    }
        
    header {
        background-color: #BBCB50;
        padding:  128px 16px;
        background-image: url(imgs/gradi2.jpg);}

    header{
        display: block;} 

    .cap{
        text-align: center;
        font-weight: 10;
        font-family: chivo;
        font-size: 2.2vh
    }

/* BODY BACKGROUND */
body{
    background-color: #eae9e7;
}

/* SEPRATOR LINE */
hr{
    border-top: 1px solid #BBCB50 ;
}

/* HEADERS */
.headnam{
    font-weight: 10;
    font-family: chivo ;
}

.content{
    padding:16px;
}
   

/* ABOUT ME SECTION */
#primsec{
    position:relative;
    
    font-family: krub;
    left: 40px;
    font-size: 4vh;
    display: block;
    padding: 128px 60px;

}
/* SKILLS SECTIONS */
#segsec{
    position:relative;
    left: 40px;
    font-family: krub;
    font-size: 4vh;
    display: block;
    font-weight: 10;
    padding: 128px 60px;
}

/* PROJECTS SECTIONS */
#tersec{
    position:relative;
    left: 40px;
    font-family: krub;
    font-size: 4vh;
    display: block;
    font-weight: 10;
    padding: 128px 60px;
}

/* CONTACT ME SECTION */
#ultsec{
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-family: krub;
    font-size: 4vh;
    display: block;
    font-weight: 10;
    padding: 128px 60px;
}



