

/* HEADER BANNER */
.nameTitle{
   display: block;
   font-size: xx-large;
   text-align: center;}

header {
    background-color: #BBCB50;
    padding: 128px 40px;
    background-image: url(imgs/gradi2.jpg);}
header{
    display: block;} 

